*{
    margin: 0;
}
.navigate{
    justify-content: center;
}
.parent{
    background-image:url(images/lady.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}
.content{
    padding-left: 5rem;
    /* margin-top: 9rem; */
    padding-top: 9rem;

}
.content h1{
    font-weight: 700;
    font-size: 50px;
}
.content h4{
font-weight: 900;
}
.content p{
    font-size: 20px;
    padding-top: 1.5rem;
}
.get-started-button{
    margin-left: 5rem;
}
#started-button{
    padding: 15px 30px;
    background-color: #f7d9c4;
    border-style: none;
    border-radius: 5px;
    font-weight: 700;
}